.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 500px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-header,
.modal-footer {
  /* padding: 10px; */
  text-decoration: none;
  border-bottom: none;
  border-top: none;
}

.modal-title {
  margin: 0;
}

.modal-close {
  cursor: pointer;
  opacity: 0.3;
}

.modal-button {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  /* min-height: 24px; */
  width: 64;
  height: 32;
  background-color: #37b24d;
  border: none;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
}
